@if (showForm()) {
  <form
    [formGroup]="createCharacterForm"
    (ngSubmit)="submit()"
    class="absolute bottom-2 left-2 rounded-lg p-2 flex flex-col gap-2"
  >
    <label for="name" class="font-caslon text-lg flex gap-1"
      >Nombre:

      <input
        class="font-caslon text-lg border-b outline-none w-full"
        type="text"
        formControlName="name"
      />
    </label>

    <label for="fenix" class="font-caslon text-lg flex gap-1"
      >Fénix:

      <input
        class="font-caslon text-lg border-b outline-none w-full"
        type="number"
        formControlName="fenix"
        step="1"
        (input)="validateNumericInputs($event, 1)"
      />
    </label>

    <label for="blason" class="font-caslon text-lg flex gap-1"
      >Blasones:

      <input
        class="font-caslon text-lg border-b outline-none w-full"
        type="number"
        formControlName="blason"
        step="1"
        (input)="validateNumericInputs($event, 0, 1)"
      />
    </label>

    <label for="ala" class="font-caslon text-lg flex gap-1">
      Alas:

      <input
        class="font-caslon text-lg border-b outline-none w-full"
        type="number"
        formControlName="ala"
        step="1"
        (input)="validateNumericInputs($event, 0, 3)"
      />
    </label>

    <label for="cresta" class="font-caslon text-lg flex gap-1">
      Crestas:

      <input
        class="font-caslon text-lg border-b outline-none w-full"
        type="number"
        formControlName="cresta"
        step="1"
        (input)="validateNumericInputs($event, 0, 99)"
      />
    </label>

    <label for="exp" class="font-caslon text-lg flex gap-1">
      Experiencia:

      <input
        class="font-caslon text-lg border-b outline-none w-full"
        type="number"
        formControlName="exp"
        step="1"
        (input)="validateNumericInputs($event, 0)"
      />
    </label>

    <label for="health" class="font-caslon text-lg flex gap-1">
      Vitalidad:

      <input
        class="font-caslon text-lg border-b outline-none w-full"
        type="number"
        formControlName="health"
        step="1"
        (input)="validateNumericInputs($event, 5, 18)"
      />
    </label>

    <label for="wyrd" class="font-caslon text-lg flex gap-1">
      Wyrd:

      <input
        class="font-caslon text-lg border-b outline-none w-full"
        type="number"
        formControlName="wyrd"
        step="1"
        (input)="validateNumericInputs($event, 0, 18)"
      />
    </label>

    <button class="font-caslon text-lg w-fit mt-2" type="submit">Crear</button>
  </form>
}

<button
  (click)="toggleShowForm()"
  class="absolute right-2 bottom-2 bg-black rounded-full p-2 text-white"
>
  <plus-image [showForm]="showForm()" />
</button>
