<h2 class="font-caslon text-2xl">Vitalidad - {{ health() }}</h2>

<div class="flex gap-1 border-2 rounded-xl p-2 pr-4 pl-4 w-20">
  <ul class="flex flex-col">
    @for (point of numberPoints; track $index) {
      @if (point > 5) {
        <p class="font-caslon text-xl text-transparent p-0">_</p>
      } @else {
        <p class="font-caslon text-xl text-red-600">-{{ point * 2 }}</p>
      }
    }
  </ul>

  <ul class="flex flex-col gap-2 pt-0.5">
    @for (point of points; track $index) {
      <li
        class="border-2 w-5 h-5 rounded-full relative overflow-hidden"
        [ngClass]="{
          'bg-black': point > health()!,
          'cursor-pointer': point <= health()!,
          'border-red-600': point <= 5,
        }"
        (click)="onClickPoint(point)"
      >
        @if (shouldShowCross(point)) {
          <span
            class="absolute bottom-[1px] left-[3px] font-bold leading-none"
            [ngClass]="{
              'text-red-600': point <= 5,
              'text-black': point > 5,
            }"
            >&times;</span
          >
        }
      </li>
    }
  </ul>
</div>
